
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 200ms ease;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-buttons {
    margin-top: 20px;
  }
  

  .modal-buttons button {
    margin: 0 10px;
  }

  .user-deleted-message {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px; 
    text-align: center; 
    position: absolute; 
    top: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 5px;
    z-index: 1000; 
  }

  .create-success-message {
    background-color: #4CAF50;
    color: white; 
    padding: 10px; 
    text-align: center; 
    position: absolute; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    border-radius: 5px; 
    z-index: 1000; 
  }