@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 252, 249);
}

h2{
    margin-top: 0;
    margin-bottom: 0;
}

input, button{
    font-family: inherit
}

input{
    outline: none;
}

li{
    list-style: none;
    margin: 0;
}
span{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

i{
    margin: 0;
    padding: 0;
}